Repository ITA-Dnipro/PyDataCenter5000, pull requests merged in 2025-07, with the labels that each got.

#178 132 clean up method and attribute bloat in serveragent
  agents_infra/agents_infra/__init__.py
  agents_infra/agents_infra/agents/base.py
  agents_infra/agents_infra/agents/dns/config.ini
  agents_infra/agents_infra/agents/dns/dns.py
  agents_infra/agents_infra/agents/ntp/config.ini
  agents_infra/agents_infra/agents/ntp/ntp.py
  agents_infra/agents_infra/agents/smtp/config.ini
  agents_infra/agents_infra/agents/smtp/smtp.py
  agents_infra/agents_infra/agents/web/config.ini
  agents_infra/agents_infra/agents/web/web.py
  agents_infra/agents_infra/dev/start_dns.py
  agents_infra/agents_infra/global.ini
  agents_infra/agents_infra/tests/unit/test_agent.py
  agents_infra/agents_infra/tests/unit/test_helpers.py
  agents_infra/agents_infra/tests/unit/test_sysinfo.py
  agents_infra/agents_infra/tests/unit/test_unit_dns_agent.py
  agents_infra/agents_infra/tests/unit/test_unit_smtp_agent.py
  agents_infra/agents_infra/tests/unit/test_unit_web_agent.py
  agents_infra/agents_infra/utils/configtools.py
  agents_infra/agents_infra/utils/helpers.py
  agents_infra/agents_infra/utils/sysinfo.py
  agents_infra/scripts/environment/dummy.env
Labels: task, agent, refactor

#187 183 Add CLI and API Support to Dynamically Update Agent Tags
  agents_infra/agents_infra/agents/base.py
  agents_infra/agents_infra/command.py
  agents_infra/agents_infra/dev/get_agent_status.py
  agents_infra/agents_infra/tests/unit/test_agent.py
  agents_infra/agents_infra/tests/unit/test_configtools.py
  agents_infra/agents_infra/utils/configtools.py
  pydata_center/cli/controller_cli.py
  pydata_center/monitoring/serializers.py
  pydata_center/monitoring/tests/test_api.py
  pydata_center/monitoring/tests/test_cli.py
  pydata_center/monitoring/urls.py
  pydata_center/monitoring/views.py
Labels: enhancement, agent, backend

#198 #191: Make rate limits configurable
  pydata_center/pydata_center/settings.py
Labels: enhancement

#203 190 bug multiple objects returned in agent metrics endpoint
  pydata_center/monitoring/migrations/0019_serverstatus_is_active_and_more.py
  pydata_center/monitoring/models.py
  pydata_center/monitoring/serializers.py
  pydata_center/monitoring/tests/test_api.py
  pydata_center/monitoring/tests/test_helpers.py
  pydata_center/monitoring/views.py
Labels: bug, task, backend, refactor

#200 Webhook (AlertingChannel) Model Improvement
  pydata_center/monitoring/admin.py
  pydata_center/monitoring/migrations/0020_alertingchannel_delete_webhook.py
  pydata_center/monitoring/models.py
Labels: enhancement, backend, comm

#210 209 fix flaky agent ping test by stabilizing timestamp based ordering
  pydata_center/monitoring/tasks.py
  pydata_center/monitoring/tests/test_api.py
Labels: bug, sub-task
